@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Utilant - Error";
}

<div class="alert alert-danger alert-dismissible">
    <h4><strong>Oops!</strong></h4>
    <p>An error occurred while processing your request.</p>
</div>

