@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12">
    <div class="panel">
        <header class="panel-heading">
            Coding Exercise
        </header>
        <div class="panel-body">
            The exercise requires you to create an ASP.NET MVC web application that provides the following functionality interfacing 
            with json place holder: <a href="https://jsonplaceholder.typicode.com" target="_blank">https://jsonplaceholder.typicode.com</a>.
            <br /><br />
            <ul>
                <li>
                    1) Display a paged set of albums with search capabilities on title and the user’s name
                    <ul>
                        <li>(a) First thumbnail of album</li>
                        <li>(b) Title</li>
                        <li>(c) User's name</li>
                        <li>(d) User's email</li>
                        <li>(e) User's phone</li>
                        <li>(f) User’s Address</li>
                    </ul>
                    <br />
                </li>
                <li>
                    2) When clicking on album title it will display the thumbnails for the album with title below it <br /><br />
                </li>
                <li>
                    3) When clicking on the user’s name it will load all details for that user 
                    <ul>
                        <li>(a) Will allow the viewing of their posts as well </li>
                    </ul>
                </li>
            </ul>
        </div>
        <br />
    </div>
</div>
